.h5p-rubric .h5p-rubric-title {
  font-weight: 700;
  margin-left: 1em;
  margin-right: 1em;
}

.h5p-rubric .h5p-rubric-description {
  margin: 1em;
}

.h5p-rubric .h5p-rubric-responsive {
  width: 100%;
  overflow-y: auto;
  margin-bottom: 1em;
}

.h5p-rubric table.h5p-rubric-grid {
}

.h5p-rubric table.h5p-rubric-grid > thead > tr > th {
  min-width: 200px;
  text-align: center;
  padding: 0.5em;
}

.h5p-rubric table.h5p-rubric-grid > thead > tr > th:not(:first-child) {
  background-color: #e1e1e1;
}

.h5p-rubric table.h5p-rubric-grid > tbody > tr > td {
  text-align: center;
  background-color: #e1e1e1;
}

.h5p-rubric table.h5p-rubric-grid > tbody > tr > td:first-child {
  min-width: 300px;
}

.h5p-rubric table.h5p-rubric-grid > tbody > tr > td.grid-row-column {
  cursor: pointer;
}

.h5p-rubric table.h5p-rubric-grid > tbody > tr > td.grid-row-column.selected {
  background-color: #d8ffd8;
}

.h5p-rubric table.h5p-rubric-grid > tbody > tr > td.grid-row-column > div {
  white-space: pre-line;
}

.h5p-rubric table.h5p-rubric-grid > tbody > tr > td:first-child {
  font-weight: bold;
}

.h5p-rubric .h5p-rubric-download-responses:before {
  content: "\F019";
}

.h5p-rubric table.h5p-rubric-grid input.grid-row-evidence {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: normal;
  padding: 0.75em 0 0.75em 0;
  border: none;
  margin-top: 0.5em;
  outline: none;
  border-bottom: 1px solid #fff;
}

.h5p-rubric table.h5p-rubric-grid input.grid-row-evidence:focus {
  border-bottom: 1px solid #1a73d9;
}
